body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1119px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4692_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:38px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4692 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:81px;
  height:38px;
}
#u4693 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:77px;
  word-wrap:break-word;
}
#u4694_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:939px;
  height:453px;
}
#u4694 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:38px;
  width:939px;
  height:453px;
}
#u4695 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:218px;
  width:935px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4696_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:927px;
  height:94px;
}
#u4696 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:86px;
  width:927px;
  height:94px;
}
#u4697 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:39px;
  width:923px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4698 {
  border-width:0px;
  position:absolute;
  left:819px;
  top:98px;
  width:80px;
  height:25px;
}
#u4698_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u4699 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:239px;
  width:936px;
  height:191px;
}
#u4700_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:36px;
}
#u4700 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:36px;
}
#u4701 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4702_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u4702 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:0px;
  width:100px;
  height:36px;
}
#u4703 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u4704_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:36px;
}
#u4704 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:0px;
  width:95px;
  height:36px;
}
#u4705 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:91px;
  word-wrap:break-word;
}
#u4706_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:36px;
}
#u4706 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:0px;
  width:109px;
  height:36px;
  color:#1E1E1E;
}
#u4707 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:105px;
  word-wrap:break-word;
}
#u4708_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:36px;
}
#u4708 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:0px;
  width:103px;
  height:36px;
}
#u4709 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:99px;
  word-wrap:break-word;
}
#u4710_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:36px;
}
#u4710 {
  border-width:0px;
  position:absolute;
  left:456px;
  top:0px;
  width:96px;
  height:36px;
}
#u4711 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:92px;
  word-wrap:break-word;
}
#u4712_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:36px;
}
#u4712 {
  border-width:0px;
  position:absolute;
  left:552px;
  top:0px;
  width:95px;
  height:36px;
}
#u4713 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:91px;
  word-wrap:break-word;
}
#u4714_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:36px;
}
#u4714 {
  border-width:0px;
  position:absolute;
  left:647px;
  top:0px;
  width:69px;
  height:36px;
}
#u4715 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:65px;
  word-wrap:break-word;
}
#u4716_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:36px;
}
#u4716 {
  border-width:0px;
  position:absolute;
  left:716px;
  top:0px;
  width:83px;
  height:36px;
}
#u4717 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:79px;
  word-wrap:break-word;
}
#u4718_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:36px;
}
#u4718 {
  border-width:0px;
  position:absolute;
  left:799px;
  top:0px;
  width:132px;
  height:36px;
}
#u4719 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:128px;
  word-wrap:break-word;
}
#u4720_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:30px;
}
#u4720 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:49px;
  height:30px;
}
#u4721 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4722_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u4722 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:36px;
  width:100px;
  height:30px;
}
#u4723 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u4724_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u4724 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:36px;
  width:95px;
  height:30px;
}
#u4725 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:91px;
  word-wrap:break-word;
}
#u4726_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
}
#u4726 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:36px;
  width:109px;
  height:30px;
}
#u4727 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:105px;
  word-wrap:break-word;
}
#u4728_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:30px;
}
#u4728 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:36px;
  width:103px;
  height:30px;
}
#u4729 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:99px;
  word-wrap:break-word;
}
#u4730_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:30px;
}
#u4730 {
  border-width:0px;
  position:absolute;
  left:456px;
  top:36px;
  width:96px;
  height:30px;
}
#u4731 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:92px;
  word-wrap:break-word;
}
#u4732_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u4732 {
  border-width:0px;
  position:absolute;
  left:552px;
  top:36px;
  width:95px;
  height:30px;
}
#u4733 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:91px;
  word-wrap:break-word;
}
#u4734_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:30px;
}
#u4734 {
  border-width:0px;
  position:absolute;
  left:647px;
  top:36px;
  width:69px;
  height:30px;
}
#u4735 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:65px;
  word-wrap:break-word;
}
#u4736_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u4736 {
  border-width:0px;
  position:absolute;
  left:716px;
  top:36px;
  width:83px;
  height:30px;
  color:#000000;
}
#u4737 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:79px;
  word-wrap:break-word;
}
#u4738_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:30px;
}
#u4738 {
  border-width:0px;
  position:absolute;
  left:799px;
  top:36px;
  width:132px;
  height:30px;
  color:#0000FF;
}
#u4739 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:128px;
  word-wrap:break-word;
}
#u4740_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:30px;
}
#u4740 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:66px;
  width:49px;
  height:30px;
}
#u4741 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4742_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u4742 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:66px;
  width:100px;
  height:30px;
}
#u4743 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u4744_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u4744 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:66px;
  width:95px;
  height:30px;
}
#u4745 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4746_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
}
#u4746 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:66px;
  width:109px;
  height:30px;
}
#u4747 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4748_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:30px;
}
#u4748 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:66px;
  width:103px;
  height:30px;
}
#u4749 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:99px;
  word-wrap:break-word;
}
#u4750_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:30px;
}
#u4750 {
  border-width:0px;
  position:absolute;
  left:456px;
  top:66px;
  width:96px;
  height:30px;
}
#u4751 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4752_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u4752 {
  border-width:0px;
  position:absolute;
  left:552px;
  top:66px;
  width:95px;
  height:30px;
  color:#1E1E1E;
}
#u4753 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4754_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:30px;
}
#u4754 {
  border-width:0px;
  position:absolute;
  left:647px;
  top:66px;
  width:69px;
  height:30px;
  color:#1E1E1E;
}
#u4755 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4756_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u4756 {
  border-width:0px;
  position:absolute;
  left:716px;
  top:66px;
  width:83px;
  height:30px;
  color:#1E1E1E;
}
#u4757 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:79px;
  word-wrap:break-word;
}
#u4758_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:30px;
}
#u4758 {
  border-width:0px;
  position:absolute;
  left:799px;
  top:66px;
  width:132px;
  height:30px;
  color:#0000FF;
}
#u4759 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:128px;
  word-wrap:break-word;
}
#u4760_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:30px;
}
#u4760 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:96px;
  width:49px;
  height:30px;
}
#u4761 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4762_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u4762 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:96px;
  width:100px;
  height:30px;
}
#u4763 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4764_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u4764 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:96px;
  width:95px;
  height:30px;
}
#u4765 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4766_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
}
#u4766 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:96px;
  width:109px;
  height:30px;
}
#u4767 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4768_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:30px;
}
#u4768 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:96px;
  width:103px;
  height:30px;
}
#u4769 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:99px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4770_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:30px;
}
#u4770 {
  border-width:0px;
  position:absolute;
  left:456px;
  top:96px;
  width:96px;
  height:30px;
}
#u4771 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4772_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u4772 {
  border-width:0px;
  position:absolute;
  left:552px;
  top:96px;
  width:95px;
  height:30px;
}
#u4773 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4774_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:30px;
}
#u4774 {
  border-width:0px;
  position:absolute;
  left:647px;
  top:96px;
  width:69px;
  height:30px;
}
#u4775 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4776_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u4776 {
  border-width:0px;
  position:absolute;
  left:716px;
  top:96px;
  width:83px;
  height:30px;
}
#u4777 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4778_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:30px;
}
#u4778 {
  border-width:0px;
  position:absolute;
  left:799px;
  top:96px;
  width:132px;
  height:30px;
}
#u4779 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:128px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4780_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:30px;
}
#u4780 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:126px;
  width:49px;
  height:30px;
}
#u4781 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4782_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u4782 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:126px;
  width:100px;
  height:30px;
}
#u4783 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4784_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u4784 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:126px;
  width:95px;
  height:30px;
}
#u4785 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4786_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
}
#u4786 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:126px;
  width:109px;
  height:30px;
}
#u4787 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4788_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:30px;
}
#u4788 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:126px;
  width:103px;
  height:30px;
}
#u4789 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:99px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4790_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:30px;
}
#u4790 {
  border-width:0px;
  position:absolute;
  left:456px;
  top:126px;
  width:96px;
  height:30px;
}
#u4791 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4792_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u4792 {
  border-width:0px;
  position:absolute;
  left:552px;
  top:126px;
  width:95px;
  height:30px;
}
#u4793 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4794_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:30px;
}
#u4794 {
  border-width:0px;
  position:absolute;
  left:647px;
  top:126px;
  width:69px;
  height:30px;
}
#u4795 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4796_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u4796 {
  border-width:0px;
  position:absolute;
  left:716px;
  top:126px;
  width:83px;
  height:30px;
}
#u4797 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4798_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:30px;
}
#u4798 {
  border-width:0px;
  position:absolute;
  left:799px;
  top:126px;
  width:132px;
  height:30px;
}
#u4799 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:128px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4800_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:30px;
}
#u4800 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:156px;
  width:49px;
  height:30px;
}
#u4801 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4802_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u4802 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:156px;
  width:100px;
  height:30px;
}
#u4803 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4804_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u4804 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:156px;
  width:95px;
  height:30px;
}
#u4805 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4806_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
}
#u4806 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:156px;
  width:109px;
  height:30px;
}
#u4807 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4808_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:30px;
}
#u4808 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:156px;
  width:103px;
  height:30px;
}
#u4809 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:99px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4810_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:30px;
}
#u4810 {
  border-width:0px;
  position:absolute;
  left:456px;
  top:156px;
  width:96px;
  height:30px;
}
#u4811 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4812_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u4812 {
  border-width:0px;
  position:absolute;
  left:552px;
  top:156px;
  width:95px;
  height:30px;
}
#u4813 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4814_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:30px;
}
#u4814 {
  border-width:0px;
  position:absolute;
  left:647px;
  top:156px;
  width:69px;
  height:30px;
}
#u4815 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4816_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u4816 {
  border-width:0px;
  position:absolute;
  left:716px;
  top:156px;
  width:83px;
  height:30px;
}
#u4817 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4818_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:30px;
}
#u4818 {
  border-width:0px;
  position:absolute;
  left:799px;
  top:156px;
  width:132px;
  height:30px;
}
#u4819 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:128px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4820 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:196px;
  width:69px;
  height:25px;
}
#u4820_input {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u4821 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:196px;
  width:69px;
  height:25px;
}
#u4821_input {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u4822_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:18px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4822 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:282px;
  width:19px;
  height:18px;
}
#u4823 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4824_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:18px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4824 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:312px;
  width:19px;
  height:18px;
}
#u4825 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4826 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:436px;
  width:49px;
  height:22px;
}
#u4826_input {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u4826_input:disabled {
  color:grayText;
}
#u4827_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4827 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:436px;
  width:41px;
  height:22px;
}
#u4828 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:37px;
  word-wrap:break-word;
}
#u4829_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4829 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:436px;
  width:30px;
  height:22px;
}
#u4830 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:26px;
  word-wrap:break-word;
}
#u4831_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:22px;
}
#u4831 {
  border-width:0px;
  position:absolute;
  left:765px;
  top:436px;
  width:156px;
  height:22px;
}
#u4832 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:152px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4833_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:18px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4833 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:342px;
  width:19px;
  height:18px;
}
#u4834 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4835_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:18px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4835 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:371px;
  width:19px;
  height:18px;
}
#u4836 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4837_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:18px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4837 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:402px;
  width:19px;
  height:18px;
}
#u4838 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4839 {
  border-width:0px;
  position:absolute;
  left:254px;
  top:196px;
  width:69px;
  height:25px;
}
#u4839_input {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u4840_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:18px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4840 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:248px;
  width:19px;
  height:18px;
}
#u4841 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4842 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:196px;
  width:69px;
  height:25px;
}
#u4842_input {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u4843_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4843 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:98px;
  width:70px;
  height:22px;
}
#u4844 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:66px;
  word-wrap:break-word;
}
#u4845_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4845 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:98px;
  width:106px;
  height:22px;
}
#u4846 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4847_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4847 {
  border-width:0px;
  position:absolute;
  left:254px;
  top:139px;
  width:82px;
  height:22px;
}
#u4848 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:78px;
  word-wrap:break-word;
}
#u4849_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4849 {
  border-width:0px;
  position:absolute;
  left:346px;
  top:139px;
  width:106px;
  height:22px;
}
#u4850 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4851_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4851 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:139px;
  width:67px;
  height:22px;
}
#u4852 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:63px;
  word-wrap:break-word;
}
#u4853 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:139px;
  width:106px;
  height:22px;
}
#u4853_input {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u4853_input:disabled {
  color:grayText;
}
#u4854_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4854 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:98px;
  width:90px;
  height:22px;
}
#u4855 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:86px;
  word-wrap:break-word;
}
#u4856_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4856 {
  border-width:0px;
  position:absolute;
  left:346px;
  top:98px;
  width:106px;
  height:22px;
}
#u4857 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4858 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:196px;
  width:69px;
  height:25px;
}
#u4858_input {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u4859_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4859 {
  border-width:0px;
  position:absolute;
  left:496px;
  top:98px;
  width:90px;
  height:22px;
}
#u4860 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:86px;
  word-wrap:break-word;
}
#u4861 {
  border-width:0px;
  position:absolute;
  left:593px;
  top:98px;
  width:119px;
  height:22px;
}
#u4861_input {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u4861_input:disabled {
  color:grayText;
}
#u4862_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4862 {
  border-width:0px;
  position:absolute;
  left:507px;
  top:139px;
  width:67px;
  height:22px;
}
#u4863 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:63px;
  word-wrap:break-word;
}
#u4864 {
  border-width:0px;
  position:absolute;
  left:593px;
  top:139px;
  width:119px;
  height:22px;
}
#u4864_input {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u4864_input:disabled {
  color:grayText;
}
#u4865 {
  border-width:0px;
  position:absolute;
  left:412px;
  top:196px;
  width:69px;
  height:25px;
}
#u4865_input {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u4866 {
  border-width:0px;
  position:absolute;
  left:491px;
  top:196px;
  width:69px;
  height:25px;
}
#u4866_input {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u4867_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:149px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u4867 {
  border-width:0px;
  position:absolute;
  left:961px;
  top:239px;
  width:158px;
  height:149px;
}
#u4868 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:138px;
  word-wrap:break-word;
}
#u4869 {
  border-width:0px;
  position:absolute;
  left:870px;
  top:282px;
  width:51px;
  height:25px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
