body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:403px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u164_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:271px;
}
#u164 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:271px;
  color:#0000FF;
}
#u165 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:128px;
  width:399px;
  visibility:hidden;
  word-wrap:break-word;
}
#u166_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:35px;
}
#u166 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:400px;
  height:35px;
}
#u167 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u168_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u168 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:9px;
  width:72px;
  height:22px;
}
#u169 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:68px;
  word-wrap:break-word;
}
#u170_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:15px;
}
#u170 {
  border-width:0px;
  position:absolute;
  left:373px;
  top:9px;
  width:21px;
  height:15px;
}
#u171 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u172_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u172 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:57px;
  width:90px;
  height:22px;
}
#u173 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:86px;
  word-wrap:break-word;
}
#u174_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u174 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:57px;
  width:149px;
  height:22px;
}
#u175 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u176_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:33px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u176 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:193px;
  width:79px;
  height:33px;
}
#u177 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:75px;
  word-wrap:break-word;
}
#u178_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:33px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u178 {
  border-width:0px;
  position:absolute;
  left:221px;
  top:193px;
  width:79px;
  height:33px;
}
#u179 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:75px;
  word-wrap:break-word;
}
#u180_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FF0000;
}
#u180 {
  border-width:0px;
  position:absolute;
  left:288px;
  top:64px;
  width:24px;
  height:14px;
  font-size:18px;
  color:#FF0000;
}
#u181 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:20px;
  word-wrap:break-word;
}
#u182_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u182 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:92px;
  width:90px;
  height:22px;
}
#u183 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:86px;
  word-wrap:break-word;
}
#u184_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u184 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:92px;
  width:149px;
  height:22px;
}
#u185 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u186_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FF0000;
}
#u186 {
  border-width:0px;
  position:absolute;
  left:288px;
  top:99px;
  width:24px;
  height:14px;
  font-size:18px;
  color:#FF0000;
}
#u187 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:20px;
  word-wrap:break-word;
}
#u188_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u188 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:128px;
  width:90px;
  height:22px;
}
#u189 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:86px;
  word-wrap:break-word;
}
#u190_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u190 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:128px;
  width:149px;
  height:22px;
}
#u191 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u192_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FF0000;
}
#u192 {
  border-width:0px;
  position:absolute;
  left:288px;
  top:135px;
  width:24px;
  height:14px;
  font-size:18px;
  color:#FF0000;
}
#u193 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:20px;
  word-wrap:break-word;
}
