body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:857px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5970_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:609px;
  height:517px;
}
#u5970 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:609px;
  height:517px;
  color:#0000FF;
}
#u5971 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:250px;
  width:605px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5972_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:598px;
  height:35px;
}
#u5972 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:598px;
  height:35px;
}
#u5973 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:594px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5974_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5974 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:9px;
  width:100px;
  height:22px;
}
#u5975 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:96px;
  word-wrap:break-word;
}
#u5976_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:15px;
}
#u5976 {
  border-width:0px;
  position:absolute;
  left:561px;
  top:9px;
  width:21px;
  height:15px;
}
#u5977 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5978_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5978 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:101px;
  width:71px;
  height:22px;
}
#u5979 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:67px;
  word-wrap:break-word;
}
#u5980_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5980 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:101px;
  width:149px;
  height:22px;
}
#u5981 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5982_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:33px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5982 {
  border-width:0px;
  position:absolute;
  left:184px;
  top:442px;
  width:79px;
  height:33px;
}
#u5983 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:75px;
  word-wrap:break-word;
}
#u5984_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:33px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5984 {
  border-width:0px;
  position:absolute;
  left:346px;
  top:442px;
  width:79px;
  height:33px;
}
#u5985 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:75px;
  word-wrap:break-word;
}
#u5986_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5986 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:95px;
  width:102px;
  height:33px;
}
#u5987 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:98px;
  word-wrap:break-word;
}
#u5988_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5988 {
  border-width:0px;
  position:absolute;
  left:406px;
  top:100px;
  width:149px;
  height:22px;
}
#u5989 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5990_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FF0000;
}
#u5990 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:105px;
  width:24px;
  height:14px;
  font-size:18px;
  color:#FF0000;
}
#u5991 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:20px;
  word-wrap:break-word;
}
#u5992_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5992 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:62px;
  width:56px;
  height:22px;
}
#u5993 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:52px;
  word-wrap:break-word;
}
#u5994_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:305px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u5994 {
  border-width:0px;
  position:absolute;
  left:635px;
  top:77px;
  width:222px;
  height:305px;
}
#u5995 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:202px;
  word-wrap:break-word;
}
#u5996 {
  border-width:0px;
  position:absolute;
  left:406px;
  top:62px;
  width:149px;
  height:22px;
}
#u5996_input {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u5996_input:disabled {
  color:grayText;
}
#u5997_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FF0000;
}
#u5997 {
  border-width:0px;
  position:absolute;
  left:555px;
  top:70px;
  width:24px;
  height:14px;
  font-size:18px;
  color:#FF0000;
}
#u5998 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:20px;
  word-wrap:break-word;
}
#u5999_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5999 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:289px;
  width:74px;
  height:22px;
}
#u6000 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:70px;
  word-wrap:break-word;
}
#u6001_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6001 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:252px;
  width:61px;
  height:22px;
}
#u6002 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:57px;
  word-wrap:break-word;
}
#u6003 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:252px;
  width:149px;
  height:22px;
}
#u6003_input {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u6003_input:disabled {
  color:grayText;
}
#u6004_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6004 {
  border-width:0px;
  position:absolute;
  left:404px;
  top:289px;
  width:149px;
  height:22px;
}
#u6005 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6006_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6006 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:60px;
  width:71px;
  height:22px;
}
#u6007 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:67px;
  word-wrap:break-word;
}
#u6008_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6008 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:60px;
  width:149px;
  height:22px;
}
#u6009 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6010_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FF0000;
}
#u6010 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:67px;
  width:24px;
  height:14px;
  font-size:18px;
  color:#FF0000;
}
#u6011 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:20px;
  word-wrap:break-word;
}
#u6012_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6012 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:337px;
  width:61px;
  height:22px;
}
#u6013 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:57px;
  word-wrap:break-word;
}
#u6014_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:69px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6014 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:337px;
  width:152px;
  height:69px;
}
#u6015 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:148px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6016_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6016 {
  border-width:0px;
  position:absolute;
  left:293px;
  top:362px;
  width:32px;
  height:20px;
}
#u6017 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:28px;
  white-space:nowrap;
}
#u6018_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6018 {
  border-width:0px;
  position:absolute;
  left:331px;
  top:253px;
  width:61px;
  height:22px;
}
#u6019 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:57px;
  word-wrap:break-word;
}
#u6020 {
  border-width:0px;
  position:absolute;
  left:404px;
  top:252px;
  width:149px;
  height:22px;
}
#u6020_input {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u6020_input:disabled {
  color:grayText;
}
#u6021_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6021 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:290px;
  width:107px;
  height:22px;
}
#u6022 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-5px;
  width:103px;
  word-wrap:break-word;
}
#u6023_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6023 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:289px;
  width:58px;
  height:22px;
}
#u6024 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6025_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6025 {
  border-width:0px;
  position:absolute;
  left:191px;
  top:289px;
  width:25px;
  height:22px;
}
#u6026 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:21px;
  word-wrap:break-word;
}
#u6027_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6027 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:289px;
  width:58px;
  height:22px;
}
#u6028 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6029_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6029 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:215px;
  width:84px;
  height:22px;
}
#u6030 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:80px;
  word-wrap:break-word;
}
#u6031_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6031 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:140px;
  width:61px;
  height:22px;
}
#u6032 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:57px;
  word-wrap:break-word;
}
#u6033_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6033 {
  border-width:0px;
  position:absolute;
  left:407px;
  top:140px;
  width:149px;
  height:22px;
}
#u6034 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6035_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6035 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:138px;
  width:61px;
  height:22px;
}
#u6036 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:57px;
  word-wrap:break-word;
}
#u6037_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FF0000;
}
#u6037 {
  border-width:0px;
  position:absolute;
  left:273px;
  top:146px;
  width:24px;
  height:10px;
  font-size:18px;
  color:#FF0000;
}
#u6038 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:20px;
  word-wrap:break-word;
}
#u6039 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:140px;
  width:149px;
  height:22px;
}
#u6039_input {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u6039_input:disabled {
  color:grayText;
}
#u6040_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6040 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:215px;
  width:149px;
  height:22px;
}
#u6041 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6042_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FF0000;
}
#u6042 {
  border-width:0px;
  position:absolute;
  left:558px;
  top:151px;
  width:24px;
  height:10px;
  font-size:18px;
  color:#FF0000;
}
#u6043 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:20px;
  word-wrap:break-word;
}
#u6044_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6044 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:176px;
  width:61px;
  height:22px;
}
#u6045 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:57px;
  word-wrap:break-word;
}
#u6046_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6046 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:176px;
  width:149px;
  height:22px;
}
#u6047 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6048_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FF0000;
}
#u6048 {
  border-width:0px;
  position:absolute;
  left:273px;
  top:185px;
  width:24px;
  height:14px;
  font-size:18px;
  color:#FF0000;
}
#u6049 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:20px;
  word-wrap:break-word;
}
#u6050_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6050 {
  border-width:0px;
  position:absolute;
  left:326px;
  top:176px;
  width:74px;
  height:22px;
}
#u6051 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:70px;
  word-wrap:break-word;
}
#u6052_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6052 {
  border-width:0px;
  position:absolute;
  left:408px;
  top:176px;
  width:149px;
  height:22px;
}
#u6053 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6054_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6054 {
  border-width:0px;
  position:absolute;
  left:323px;
  top:213px;
  width:74px;
  height:22px;
}
#u6055 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-5px;
  width:70px;
  word-wrap:break-word;
}
#u6056_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6056 {
  border-width:0px;
  position:absolute;
  left:407px;
  top:215px;
  width:149px;
  height:22px;
}
#u6057 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6058_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FF0000;
}
#u6058 {
  border-width:0px;
  position:absolute;
  left:582px;
  top:226px;
  width:24px;
  height:10px;
  font-size:18px;
  color:#FF0000;
}
#u6059 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:20px;
  word-wrap:break-word;
}
#u6060_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:20px;
}
#u6060 {
  border-width:0px;
  position:absolute;
  left:559px;
  top:217px;
  width:26px;
  height:20px;
}
#u6061 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6062_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FF0000;
}
#u6062 {
  border-width:0px;
  position:absolute;
  left:273px;
  top:222px;
  width:24px;
  height:14px;
  font-size:18px;
  color:#FF0000;
}
#u6063 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:20px;
  word-wrap:break-word;
}
#u6064_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FF0000;
}
#u6064 {
  border-width:0px;
  position:absolute;
  left:273px;
  top:256px;
  width:24px;
  height:14px;
  font-size:18px;
  color:#FF0000;
}
#u6065 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:20px;
  word-wrap:break-word;
}
