body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2309px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u150_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u150 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
}
#u151 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:532px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u152_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2309px;
  height:1253px;
}
#u152 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2309px;
  height:1253px;
}
#u153 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:618px;
  width:2305px;
  visibility:hidden;
  word-wrap:break-word;
}
#u154_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:542px;
  height:652px;
}
#u154 {
  border-width:0px;
  position:absolute;
  left:612px;
  top:301px;
  width:542px;
  height:652px;
}
#u155 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:318px;
  width:538px;
  visibility:hidden;
  word-wrap:break-word;
}
#u156_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:543px;
  height:180px;
}
#u156 {
  border-width:0px;
  position:absolute;
  left:653px;
  top:450px;
  width:543px;
  height:180px;
}
#u157 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:82px;
  width:539px;
  visibility:hidden;
  word-wrap:break-word;
}
#u158_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:53px;
}
#u158 {
  border-width:0px;
  position:absolute;
  left:752px;
  top:834px;
  width:311px;
  height:53px;
  font-size:16px;
}
#u159 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:307px;
  word-wrap:break-word;
}
#u160_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:53px;
}
#u160 {
  border-width:0px;
  position:absolute;
  left:1253px;
  top:662px;
  width:329px;
  height:53px;
  font-size:20px;
  color:#FF0000;
}
#u161 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:325px;
  word-wrap:break-word;
}
#u162_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
}
#u162 {
  border-width:0px;
  position:absolute;
  left:706px;
  top:834px;
  width:46px;
  height:46px;
}
#u163 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
