body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:825px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2612_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:585px;
  height:423px;
}
#u2612 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:585px;
  height:423px;
  color:#0000FF;
}
#u2613 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:204px;
  width:581px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2614_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:576px;
  height:35px;
}
#u2614 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:576px;
  height:35px;
}
#u2615 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:572px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2616_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2616 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:9px;
  width:99px;
  height:22px;
}
#u2617 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:95px;
  word-wrap:break-word;
}
#u2618_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:15px;
}
#u2618 {
  border-width:0px;
  position:absolute;
  left:547px;
  top:12px;
  width:21px;
  height:15px;
}
#u2619 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2620 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:105px;
  width:560px;
  height:243px;
}
#u2621_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:20px;
}
#u2621 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:20px;
}
#u2622 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2623_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:20px;
}
#u2623 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:0px;
  width:112px;
  height:20px;
}
#u2624 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:108px;
  word-wrap:break-word;
}
#u2625_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:20px;
}
#u2625 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:0px;
  width:118px;
  height:20px;
}
#u2626 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:114px;
  word-wrap:break-word;
}
#u2627_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:20px;
}
#u2627 {
  border-width:0px;
  position:absolute;
  left:341px;
  top:0px;
  width:103px;
  height:20px;
}
#u2628 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:99px;
  word-wrap:break-word;
}
#u2629_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:20px;
}
#u2629 {
  border-width:0px;
  position:absolute;
  left:444px;
  top:0px;
  width:111px;
  height:20px;
}
#u2630 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:107px;
  word-wrap:break-word;
}
#u2631_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:20px;
}
#u2631 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:20px;
  width:111px;
  height:20px;
}
#u2632 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2633_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:20px;
}
#u2633 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:20px;
  width:112px;
  height:20px;
}
#u2634 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:108px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2635_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:20px;
}
#u2635 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:20px;
  width:118px;
  height:20px;
}
#u2636 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:114px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2637_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:20px;
}
#u2637 {
  border-width:0px;
  position:absolute;
  left:341px;
  top:20px;
  width:103px;
  height:20px;
}
#u2638 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:99px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2639_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:20px;
}
#u2639 {
  border-width:0px;
  position:absolute;
  left:444px;
  top:20px;
  width:111px;
  height:20px;
}
#u2640 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2641_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:36px;
}
#u2641 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:111px;
  height:36px;
}
#u2642 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:107px;
  word-wrap:break-word;
}
#u2643_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:36px;
}
#u2643 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:40px;
  width:112px;
  height:36px;
}
#u2644 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:108px;
  word-wrap:break-word;
}
#u2645_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:36px;
}
#u2645 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:40px;
  width:118px;
  height:36px;
}
#u2646 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:114px;
  word-wrap:break-word;
}
#u2647_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:36px;
}
#u2647 {
  border-width:0px;
  position:absolute;
  left:341px;
  top:40px;
  width:103px;
  height:36px;
}
#u2648 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:99px;
  word-wrap:break-word;
}
#u2649_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:36px;
}
#u2649 {
  border-width:0px;
  position:absolute;
  left:444px;
  top:40px;
  width:111px;
  height:36px;
}
#u2650 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:107px;
  word-wrap:break-word;
}
#u2651_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:36px;
}
#u2651 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:76px;
  width:111px;
  height:36px;
}
#u2652 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:107px;
  word-wrap:break-word;
}
#u2653_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:36px;
}
#u2653 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:76px;
  width:112px;
  height:36px;
}
#u2654 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:108px;
  word-wrap:break-word;
}
#u2655_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:36px;
}
#u2655 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:76px;
  width:118px;
  height:36px;
}
#u2656 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:114px;
  word-wrap:break-word;
}
#u2657_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:36px;
}
#u2657 {
  border-width:0px;
  position:absolute;
  left:341px;
  top:76px;
  width:103px;
  height:36px;
}
#u2658 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:99px;
  word-wrap:break-word;
}
#u2659_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:36px;
}
#u2659 {
  border-width:0px;
  position:absolute;
  left:444px;
  top:76px;
  width:111px;
  height:36px;
}
#u2660 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:107px;
  word-wrap:break-word;
}
#u2661_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:30px;
}
#u2661 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:112px;
  width:111px;
  height:30px;
}
#u2662 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:107px;
  word-wrap:break-word;
}
#u2663_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:30px;
}
#u2663 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:112px;
  width:112px;
  height:30px;
}
#u2664 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:108px;
  word-wrap:break-word;
}
#u2665_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:30px;
}
#u2665 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:112px;
  width:118px;
  height:30px;
}
#u2666 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:114px;
  word-wrap:break-word;
}
#u2667_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:30px;
}
#u2667 {
  border-width:0px;
  position:absolute;
  left:341px;
  top:112px;
  width:103px;
  height:30px;
}
#u2668 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:99px;
  word-wrap:break-word;
}
#u2669_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:30px;
}
#u2669 {
  border-width:0px;
  position:absolute;
  left:444px;
  top:112px;
  width:111px;
  height:30px;
}
#u2670 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:107px;
  word-wrap:break-word;
}
#u2671_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:30px;
}
#u2671 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:142px;
  width:111px;
  height:30px;
}
#u2672 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:107px;
  word-wrap:break-word;
}
#u2673_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:30px;
}
#u2673 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:142px;
  width:112px;
  height:30px;
}
#u2674 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:108px;
  word-wrap:break-word;
}
#u2675_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:30px;
}
#u2675 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:142px;
  width:118px;
  height:30px;
}
#u2676 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:114px;
  word-wrap:break-word;
}
#u2677_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:30px;
}
#u2677 {
  border-width:0px;
  position:absolute;
  left:341px;
  top:142px;
  width:103px;
  height:30px;
}
#u2678 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:99px;
  word-wrap:break-word;
}
#u2679_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:30px;
}
#u2679 {
  border-width:0px;
  position:absolute;
  left:444px;
  top:142px;
  width:111px;
  height:30px;
}
#u2680 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:107px;
  word-wrap:break-word;
}
#u2681_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:36px;
}
#u2681 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:172px;
  width:111px;
  height:36px;
}
#u2682 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:107px;
  word-wrap:break-word;
}
#u2683_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:36px;
}
#u2683 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:172px;
  width:112px;
  height:36px;
}
#u2684 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:108px;
  word-wrap:break-word;
}
#u2685_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:36px;
}
#u2685 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:172px;
  width:118px;
  height:36px;
}
#u2686 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:114px;
  word-wrap:break-word;
}
#u2687_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:36px;
}
#u2687 {
  border-width:0px;
  position:absolute;
  left:341px;
  top:172px;
  width:103px;
  height:36px;
}
#u2688 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:99px;
  word-wrap:break-word;
}
#u2689_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:36px;
}
#u2689 {
  border-width:0px;
  position:absolute;
  left:444px;
  top:172px;
  width:111px;
  height:36px;
}
#u2690 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:107px;
  word-wrap:break-word;
}
#u2691_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:30px;
}
#u2691 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:208px;
  width:111px;
  height:30px;
}
#u2692 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:107px;
  word-wrap:break-word;
}
#u2693_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:30px;
}
#u2693 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:208px;
  width:112px;
  height:30px;
}
#u2694 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:108px;
  word-wrap:break-word;
}
#u2695_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:30px;
}
#u2695 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:208px;
  width:118px;
  height:30px;
  color:#FF0000;
}
#u2696 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:114px;
  word-wrap:break-word;
}
#u2697_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:30px;
}
#u2697 {
  border-width:0px;
  position:absolute;
  left:341px;
  top:208px;
  width:103px;
  height:30px;
  color:#FF0000;
}
#u2698 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:99px;
  word-wrap:break-word;
}
#u2699_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:30px;
}
#u2699 {
  border-width:0px;
  position:absolute;
  left:444px;
  top:208px;
  width:111px;
  height:30px;
  color:#FF0000;
}
#u2700 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:107px;
  word-wrap:break-word;
}
#u2701_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:33px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2701 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:373px;
  width:79px;
  height:33px;
}
#u2702 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:75px;
  word-wrap:break-word;
}
#u2703_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:33px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2703 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:370px;
  width:79px;
  height:33px;
}
#u2704 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:75px;
  word-wrap:break-word;
}
#u2705 {
  border-width:0px;
  position:absolute;
  left:291px;
  top:127px;
  width:22px;
  height:16px;
}
#u2706 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2705_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2707 {
  border-width:0px;
  position:absolute;
  left:399px;
  top:127px;
  width:22px;
  height:16px;
}
#u2708 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2707_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2709 {
  border-width:0px;
  position:absolute;
  left:512px;
  top:127px;
  width:22px;
  height:16px;
}
#u2710 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2709_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2711_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:180px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u2711 {
  border-width:0px;
  position:absolute;
  left:601px;
  top:153px;
  width:224px;
  height:180px;
}
#u2712 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:204px;
  word-wrap:break-word;
}
#u2713_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2713 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:58px;
  width:104px;
  height:22px;
}
#u2714 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:100px;
  word-wrap:break-word;
}
#u2715_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2715 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:58px;
  width:106px;
  height:22px;
}
#u2716 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2717_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2717 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:58px;
  width:90px;
  height:22px;
}
#u2718 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:86px;
  word-wrap:break-word;
}
#u2719_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2719 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:58px;
  width:106px;
  height:22px;
}
#u2720 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2721 {
  border-width:0px;
  position:absolute;
  left:488px;
  top:55px;
  width:80px;
  height:25px;
}
#u2721_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
