body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1121px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5237_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:38px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5237 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:81px;
  height:38px;
}
#u5238 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:77px;
  word-wrap:break-word;
}
#u5239_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:939px;
  height:453px;
}
#u5239 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:38px;
  width:939px;
  height:453px;
}
#u5240 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:218px;
  width:935px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5241_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:927px;
  height:94px;
}
#u5241 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:86px;
  width:927px;
  height:94px;
}
#u5242 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:39px;
  width:923px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5243 {
  border-width:0px;
  position:absolute;
  left:754px;
  top:97px;
  width:80px;
  height:25px;
}
#u5243_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u5244 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:239px;
  width:936px;
  height:197px;
}
#u5245_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:36px;
}
#u5245 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:36px;
}
#u5246 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5247_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:36px;
}
#u5247 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:0px;
  width:107px;
  height:36px;
}
#u5248 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:103px;
  word-wrap:break-word;
}
#u5249_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:36px;
}
#u5249 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:0px;
  width:109px;
  height:36px;
}
#u5250 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:105px;
  word-wrap:break-word;
}
#u5251_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:36px;
}
#u5251 {
  border-width:0px;
  position:absolute;
  left:264px;
  top:0px;
  width:95px;
  height:36px;
}
#u5252 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:91px;
  word-wrap:break-word;
}
#u5253_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:36px;
}
#u5253 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:0px;
  width:93px;
  height:36px;
}
#u5254 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:89px;
  word-wrap:break-word;
}
#u5255_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:36px;
}
#u5255 {
  border-width:0px;
  position:absolute;
  left:452px;
  top:0px;
  width:89px;
  height:36px;
}
#u5256 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:85px;
  word-wrap:break-word;
}
#u5257_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:36px;
}
#u5257 {
  border-width:0px;
  position:absolute;
  left:541px;
  top:0px;
  width:90px;
  height:36px;
}
#u5258 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:86px;
  word-wrap:break-word;
}
#u5259_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:36px;
}
#u5259 {
  border-width:0px;
  position:absolute;
  left:631px;
  top:0px;
  width:115px;
  height:36px;
}
#u5260 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:111px;
  word-wrap:break-word;
}
#u5261_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:36px;
}
#u5261 {
  border-width:0px;
  position:absolute;
  left:746px;
  top:0px;
  width:58px;
  height:36px;
}
#u5262 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:54px;
  word-wrap:break-word;
}
#u5263_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:36px;
}
#u5263 {
  border-width:0px;
  position:absolute;
  left:804px;
  top:0px;
  width:127px;
  height:36px;
}
#u5264 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:123px;
  word-wrap:break-word;
}
#u5265_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:36px;
}
#u5265 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:48px;
  height:36px;
}
#u5266 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5267_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:36px;
}
#u5267 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:36px;
  width:107px;
  height:36px;
}
#u5268 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:103px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5269_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:36px;
}
#u5269 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:36px;
  width:109px;
  height:36px;
}
#u5270 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:105px;
  word-wrap:break-word;
}
#u5271_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:36px;
}
#u5271 {
  border-width:0px;
  position:absolute;
  left:264px;
  top:36px;
  width:95px;
  height:36px;
}
#u5272 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:91px;
  word-wrap:break-word;
}
#u5273_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:36px;
}
#u5273 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:36px;
  width:93px;
  height:36px;
}
#u5274 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:89px;
  word-wrap:break-word;
}
#u5275_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:36px;
}
#u5275 {
  border-width:0px;
  position:absolute;
  left:452px;
  top:36px;
  width:89px;
  height:36px;
}
#u5276 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:85px;
  word-wrap:break-word;
}
#u5277_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:36px;
}
#u5277 {
  border-width:0px;
  position:absolute;
  left:541px;
  top:36px;
  width:90px;
  height:36px;
}
#u5278 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:86px;
  word-wrap:break-word;
}
#u5279_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:36px;
}
#u5279 {
  border-width:0px;
  position:absolute;
  left:631px;
  top:36px;
  width:115px;
  height:36px;
}
#u5280 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5281_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:36px;
}
#u5281 {
  border-width:0px;
  position:absolute;
  left:746px;
  top:36px;
  width:58px;
  height:36px;
}
#u5282 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:54px;
  word-wrap:break-word;
}
#u5283_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:36px;
}
#u5283 {
  border-width:0px;
  position:absolute;
  left:804px;
  top:36px;
  width:127px;
  height:36px;
  color:#0000FF;
}
#u5284 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:123px;
  word-wrap:break-word;
}
#u5285_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:30px;
}
#u5285 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:72px;
  width:48px;
  height:30px;
}
#u5286 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5287_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:30px;
}
#u5287 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:72px;
  width:107px;
  height:30px;
}
#u5288 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:103px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5289_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
}
#u5289 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:72px;
  width:109px;
  height:30px;
}
#u5290 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:105px;
  word-wrap:break-word;
}
#u5291_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u5291 {
  border-width:0px;
  position:absolute;
  left:264px;
  top:72px;
  width:95px;
  height:30px;
}
#u5292 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5293_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:30px;
}
#u5293 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:72px;
  width:93px;
  height:30px;
}
#u5294 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5295_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:30px;
}
#u5295 {
  border-width:0px;
  position:absolute;
  left:452px;
  top:72px;
  width:89px;
  height:30px;
}
#u5296 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:85px;
  word-wrap:break-word;
}
#u5297_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u5297 {
  border-width:0px;
  position:absolute;
  left:541px;
  top:72px;
  width:90px;
  height:30px;
}
#u5298 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5299_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:30px;
}
#u5299 {
  border-width:0px;
  position:absolute;
  left:631px;
  top:72px;
  width:115px;
  height:30px;
  color:#1E1E1E;
}
#u5300 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5301_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:30px;
}
#u5301 {
  border-width:0px;
  position:absolute;
  left:746px;
  top:72px;
  width:58px;
  height:30px;
  color:#1E1E1E;
}
#u5302 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:54px;
  word-wrap:break-word;
}
#u5303_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u5303 {
  border-width:0px;
  position:absolute;
  left:804px;
  top:72px;
  width:127px;
  height:30px;
  color:#0000FF;
}
#u5304 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:123px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5305_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:30px;
}
#u5305 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:102px;
  width:48px;
  height:30px;
}
#u5306 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5307_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:30px;
}
#u5307 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:102px;
  width:107px;
  height:30px;
}
#u5308 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:103px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5309_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
}
#u5309 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:102px;
  width:109px;
  height:30px;
}
#u5310 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5311_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u5311 {
  border-width:0px;
  position:absolute;
  left:264px;
  top:102px;
  width:95px;
  height:30px;
}
#u5312 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5313_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:30px;
}
#u5313 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:102px;
  width:93px;
  height:30px;
}
#u5314 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5315_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:30px;
}
#u5315 {
  border-width:0px;
  position:absolute;
  left:452px;
  top:102px;
  width:89px;
  height:30px;
}
#u5316 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5317_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u5317 {
  border-width:0px;
  position:absolute;
  left:541px;
  top:102px;
  width:90px;
  height:30px;
}
#u5318 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5319_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:30px;
}
#u5319 {
  border-width:0px;
  position:absolute;
  left:631px;
  top:102px;
  width:115px;
  height:30px;
}
#u5320 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5321_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:30px;
}
#u5321 {
  border-width:0px;
  position:absolute;
  left:746px;
  top:102px;
  width:58px;
  height:30px;
}
#u5322 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5323_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u5323 {
  border-width:0px;
  position:absolute;
  left:804px;
  top:102px;
  width:127px;
  height:30px;
}
#u5324 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:123px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5325_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:30px;
}
#u5325 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:132px;
  width:48px;
  height:30px;
}
#u5326 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5327_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:30px;
}
#u5327 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:132px;
  width:107px;
  height:30px;
}
#u5328 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:103px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5329_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
}
#u5329 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:132px;
  width:109px;
  height:30px;
}
#u5330 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5331_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u5331 {
  border-width:0px;
  position:absolute;
  left:264px;
  top:132px;
  width:95px;
  height:30px;
}
#u5332 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5333_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:30px;
}
#u5333 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:132px;
  width:93px;
  height:30px;
}
#u5334 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5335_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:30px;
}
#u5335 {
  border-width:0px;
  position:absolute;
  left:452px;
  top:132px;
  width:89px;
  height:30px;
}
#u5336 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5337_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u5337 {
  border-width:0px;
  position:absolute;
  left:541px;
  top:132px;
  width:90px;
  height:30px;
}
#u5338 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5339_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:30px;
}
#u5339 {
  border-width:0px;
  position:absolute;
  left:631px;
  top:132px;
  width:115px;
  height:30px;
}
#u5340 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5341_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:30px;
}
#u5341 {
  border-width:0px;
  position:absolute;
  left:746px;
  top:132px;
  width:58px;
  height:30px;
}
#u5342 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5343_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u5343 {
  border-width:0px;
  position:absolute;
  left:804px;
  top:132px;
  width:127px;
  height:30px;
}
#u5344 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:123px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5345_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:30px;
}
#u5345 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:162px;
  width:48px;
  height:30px;
}
#u5346 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5347_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:30px;
}
#u5347 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:162px;
  width:107px;
  height:30px;
}
#u5348 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:103px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5349_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
}
#u5349 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:162px;
  width:109px;
  height:30px;
}
#u5350 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5351_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u5351 {
  border-width:0px;
  position:absolute;
  left:264px;
  top:162px;
  width:95px;
  height:30px;
}
#u5352 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5353_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:30px;
}
#u5353 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:162px;
  width:93px;
  height:30px;
}
#u5354 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5355_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:30px;
}
#u5355 {
  border-width:0px;
  position:absolute;
  left:452px;
  top:162px;
  width:89px;
  height:30px;
}
#u5356 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5357_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u5357 {
  border-width:0px;
  position:absolute;
  left:541px;
  top:162px;
  width:90px;
  height:30px;
}
#u5358 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5359_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:30px;
}
#u5359 {
  border-width:0px;
  position:absolute;
  left:631px;
  top:162px;
  width:115px;
  height:30px;
}
#u5360 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5361_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:30px;
}
#u5361 {
  border-width:0px;
  position:absolute;
  left:746px;
  top:162px;
  width:58px;
  height:30px;
}
#u5362 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5363_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u5363 {
  border-width:0px;
  position:absolute;
  left:804px;
  top:162px;
  width:127px;
  height:30px;
}
#u5364 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:123px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5365 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:196px;
  width:69px;
  height:25px;
}
#u5365_input {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u5366 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:196px;
  width:69px;
  height:25px;
}
#u5366_input {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u5367_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:18px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5367 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:282px;
  width:19px;
  height:18px;
}
#u5368 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5369_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:18px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5369 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:312px;
  width:19px;
  height:18px;
}
#u5370 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5371 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:436px;
  width:49px;
  height:22px;
}
#u5371_input {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u5371_input:disabled {
  color:grayText;
}
#u5372_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5372 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:436px;
  width:41px;
  height:22px;
}
#u5373 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:37px;
  word-wrap:break-word;
}
#u5374_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5374 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:436px;
  width:30px;
  height:22px;
}
#u5375 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:26px;
  word-wrap:break-word;
}
#u5376_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:22px;
}
#u5376 {
  border-width:0px;
  position:absolute;
  left:765px;
  top:436px;
  width:156px;
  height:22px;
}
#u5377 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:152px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5378_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:18px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5378 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:342px;
  width:19px;
  height:18px;
}
#u5379 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5380_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:18px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5380 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:371px;
  width:19px;
  height:18px;
}
#u5381 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5382_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:18px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5382 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:402px;
  width:19px;
  height:18px;
}
#u5383 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5384 {
  border-width:0px;
  position:absolute;
  left:254px;
  top:196px;
  width:69px;
  height:25px;
}
#u5384_input {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u5385_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:18px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5385 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:248px;
  width:19px;
  height:18px;
}
#u5386 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5387 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:196px;
  width:69px;
  height:25px;
}
#u5387_input {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u5388_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5388 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:98px;
  width:70px;
  height:22px;
}
#u5389 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:66px;
  word-wrap:break-word;
}
#u5390_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5390 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:98px;
  width:118px;
  height:22px;
}
#u5391 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:114px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5392_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5392 {
  border-width:0px;
  position:absolute;
  left:475px;
  top:138px;
  width:82px;
  height:22px;
}
#u5393 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:78px;
  word-wrap:break-word;
}
#u5394_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5394 {
  border-width:0px;
  position:absolute;
  left:567px;
  top:138px;
  width:106px;
  height:22px;
}
#u5395 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5396_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5396 {
  border-width:0px;
  position:absolute;
  left:275px;
  top:138px;
  width:38px;
  height:22px;
}
#u5397 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:34px;
  word-wrap:break-word;
}
#u5398 {
  border-width:0px;
  position:absolute;
  left:334px;
  top:138px;
  width:106px;
  height:22px;
}
#u5398_input {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u5398_input:disabled {
  color:grayText;
}
#u5399_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5399 {
  border-width:0px;
  position:absolute;
  left:475px;
  top:98px;
  width:81px;
  height:22px;
}
#u5400 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:77px;
  word-wrap:break-word;
}
#u5401_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5401 {
  border-width:0px;
  position:absolute;
  left:566px;
  top:98px;
  width:106px;
  height:22px;
}
#u5402 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5403_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5403 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:138px;
  width:90px;
  height:22px;
}
#u5404 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:86px;
  word-wrap:break-word;
}
#u5405 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:196px;
  width:69px;
  height:25px;
}
#u5405_input {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u5406 {
  border-width:0px;
  position:absolute;
  left:412px;
  top:196px;
  width:69px;
  height:25px;
}
#u5406_input {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u5407_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5407 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:98px;
  width:81px;
  height:22px;
}
#u5408 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:77px;
  word-wrap:break-word;
}
#u5409_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5409 {
  border-width:0px;
  position:absolute;
  left:334px;
  top:98px;
  width:106px;
  height:22px;
}
#u5410 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5411_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:149px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u5411 {
  border-width:0px;
  position:absolute;
  left:963px;
  top:282px;
  width:158px;
  height:149px;
}
#u5412 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:138px;
  word-wrap:break-word;
}
#u5413_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5413 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:138px;
  width:118px;
  height:22px;
}
#u5414 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:114px;
  visibility:hidden;
  word-wrap:break-word;
}
