body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:673px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10210_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:401px;
}
#u10210 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:401px;
  color:#0000FF;
}
#u10211 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:192px;
  width:393px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10212_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  height:35px;
}
#u10212 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:386px;
  height:35px;
}
#u10213 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:382px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10214_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10214 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:9px;
  width:100px;
  height:22px;
}
#u10215 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:96px;
  word-wrap:break-word;
}
#u10216_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:15px;
}
#u10216 {
  border-width:0px;
  position:absolute;
  left:357px;
  top:9px;
  width:21px;
  height:15px;
}
#u10217 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10218_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10218 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:60px;
  width:71px;
  height:22px;
}
#u10219 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:67px;
  word-wrap:break-word;
}
#u10220_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10220 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:60px;
  width:149px;
  height:22px;
}
#u10221 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10222_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:33px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10222 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:315px;
  width:79px;
  height:33px;
}
#u10223 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:75px;
  word-wrap:break-word;
}
#u10224_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:33px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10224 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:315px;
  width:79px;
  height:33px;
}
#u10225 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:75px;
  word-wrap:break-word;
}
#u10226_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FF0000;
}
#u10226 {
  border-width:0px;
  position:absolute;
  left:296px;
  top:64px;
  width:24px;
  height:14px;
  font-size:18px;
  color:#FF0000;
}
#u10227 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:20px;
  word-wrap:break-word;
}
#u10228_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:137px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u10228 {
  border-width:0px;
  position:absolute;
  left:451px;
  top:60px;
  width:222px;
  height:137px;
}
#u10229 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:202px;
  word-wrap:break-word;
}
#u10230_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10230 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:134px;
  width:84px;
  height:22px;
}
#u10231 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:80px;
  word-wrap:break-word;
}
#u10232_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FF0000;
}
#u10232 {
  border-width:0px;
  position:absolute;
  left:297px;
  top:140px;
  width:24px;
  height:10px;
  font-size:18px;
  color:#FF0000;
}
#u10233 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:20px;
  word-wrap:break-word;
}
#u10234_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FF0000;
}
#u10234 {
  border-width:0px;
  position:absolute;
  left:297px;
  top:179px;
  width:24px;
  height:14px;
  font-size:18px;
  color:#FF0000;
}
#u10235 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:20px;
  word-wrap:break-word;
}
#u10236_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FF0000;
}
#u10236 {
  border-width:0px;
  position:absolute;
  left:297px;
  top:219px;
  width:24px;
  height:14px;
  font-size:18px;
  color:#FF0000;
}
#u10237 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:20px;
  word-wrap:break-word;
}
#u10238_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10238 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:175px;
  width:71px;
  height:22px;
}
#u10239 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:67px;
  word-wrap:break-word;
}
#u10240_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10240 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:175px;
  width:149px;
  height:22px;
}
#u10241 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10242_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10242 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:210px;
  width:71px;
  height:22px;
}
#u10243 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:67px;
  word-wrap:break-word;
}
#u10244_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10244 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:210px;
  width:149px;
  height:22px;
}
#u10245 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10246_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:17px;
}
#u10246 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:213px;
  width:20px;
  height:17px;
}
#u10247 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10248_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FF0000;
}
#u10248 {
  border-width:0px;
  position:absolute;
  left:297px;
  top:253px;
  width:24px;
  height:14px;
  font-size:18px;
  color:#FF0000;
}
#u10249 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:20px;
  word-wrap:break-word;
}
#u10250_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10250 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:244px;
  width:71px;
  height:22px;
}
#u10251 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:67px;
  word-wrap:break-word;
}
#u10252_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10252 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:244px;
  width:149px;
  height:22px;
}
#u10253 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10254_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:17px;
}
#u10254 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:247px;
  width:20px;
  height:17px;
}
#u10255 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10256_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10256 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:98px;
  width:71px;
  height:22px;
}
#u10257 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:67px;
  word-wrap:break-word;
}
#u10258_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10258 {
  border-width:0px;
  position:absolute;
  left:146px;
  top:98px;
  width:149px;
  height:22px;
}
#u10259 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10260_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FF0000;
}
#u10260 {
  border-width:0px;
  position:absolute;
  left:297px;
  top:102px;
  width:24px;
  height:14px;
  font-size:18px;
  color:#FF0000;
}
#u10261 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:20px;
  word-wrap:break-word;
}
#u10262_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10262 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:136px;
  width:149px;
  height:22px;
}
#u10263 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
